.ce-toolbar {
  left: unset !important;
}

.cdx-block,
.ce-header,
.inlineToolButton,
.ce-toolbar__plus,
.ce-toolbar__settings-btn,
.ce-popover__search {
  background-color: rgb(var(--card));
  color: rgb(var(--text));
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover,
.cdx-loader,
.cdx-button {
  color: rgb(var(--text));
  background-color: rgb(var(--muted));
}

.cdx-button:hover {
  background-color: rgb(var(--card));
}

.ce-popover,
.ce-popover-item,
.ce-popover-item__icon,
.ce-popover-items,
.ce-inline-toolbar,
.ce-conversion-toolbar,
.ce-conversion-tool__icon {
  background-color: rgb(var(--muted));
  color: rgb(var(--text));
}

.ce-popover,
.ce-popover-item__icon,
.ce-inline-toolbar,
.ce-conversion-toolbar,
.ce-conversion-tool__icon {
  border: 1px solid rgb(var(--border));
  box-shadow: none;
  --webkit-box-shadow: none;
}

.ce-popover-item:hover,
.ce-inline-tool:hover,
.ce-conversion-tool:hover,
.ce-inline-toolbar__dropdown:hover {
  background-color: rgb(var(--card)) !important;
}

.ce-paragraph[data-placeholder]:empty::before {
  color: rgb(var(--muted-foreground)) !important;
}

.codex-editor ::selection {
  background-color: rgb(var(--primary));
  color: white;
}

.ct::after {
  background-color: rgb(var(--card));
  border-top: 1px solid rgb(var(--border));
  border-right: 1px solid rgb(var(--border));
}

.ct::before {
  background-color: rgb(var(--card));
  border: 1px solid rgb(var(--border));
}

.ct__content {
  color: rgb(var(--text));
}

div.cdx-notify--error {
  background: rgb(var(--destructive)) !important;
  color: rgb(var(--destructive-foreground)) !important;
}

div.cdx-notify--error::before {
  display: none;
}

.ce-block__content {
  margin: unset;
}
