@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: rgb(var(--primary));
    color: white;
  }

  :root {
    --text: 28, 28, 28;
    --text-50: 242, 242, 242;
    --text-100: 230, 230, 230;
    --text-200: 204, 204, 204;
    --text-300: 179, 179, 179;
    --text-400: 153, 153, 153;
    --text-500: 128, 128, 128;
    --text-600: 102, 102, 102;
    --text-700: 77, 77, 77;
    --text-800: 51, 51, 51;
    --text-900: 26, 26, 26;
    --text-950: 13, 13, 13;

    --background: 218, 224, 230;
    --background-50: 240, 242, 245;
    --background-100: 225, 230, 234;
    --background-200: 194, 204, 214;
    --background-300: 164, 179, 193;
    --background-400: 134, 153, 172;
    --background-500: 103, 127, 152;
    --background-600: 83, 102, 121;
    --background-700: 62, 76, 91;
    --background-800: 41, 51, 61;
    --background-900: 21, 25, 30;
    --background-950: 10, 13, 15;

    --primary: 255, 84, 20;
    --primary-50: 255, 236, 229;
    --primary-100: 255, 218, 204;
    --primary-200: 255, 180, 153;
    --primary-300: 255, 143, 102;
    --primary-400: 255, 105, 51;
    --primary-500: 255, 68, 0;
    --primary-600: 204, 54, 0;
    --primary-700: 153, 41, 0;
    --primary-800: 102, 27, 0;
    --primary-900: 51, 14, 0;
    --primary-950: 26, 7, 0;

    --secondary: 0, 121, 211;
    --secondary-50: 229, 244, 255;
    --secondary-100: 204, 233, 255;
    --secondary-200: 153, 211, 255;
    --secondary-300: 102, 189, 255;
    --secondary-400: 51, 167, 255;
    --secondary-500: 0, 145, 255;
    --secondary-600: 0, 116, 204;
    --secondary-700: 0, 87, 153;
    --secondary-800: 0, 58, 102;
    --secondary-900: 0, 29, 51;
    --secondary-950: 0, 14, 26;

    --accent: 36, 214, 255;
    --accent-50: 229, 250, 255;
    --accent-100: 204, 246, 255;
    --accent-200: 153, 236, 255;
    --accent-300: 102, 227, 255;
    --accent-400: 51, 218, 255;
    --accent-500: 0, 208, 255;
    --accent-600: 0, 167, 204;
    --accent-700: 0, 125, 153;
    --accent-800: 0, 83, 102;
    --accent-900: 0, 42, 51;
    --accent-950: 0, 21, 26;

    --radius: 0.3rem;
    --border: 204, 204, 204;
    --input: 204, 204, 204;

    --card: 255, 255, 255;
    --card-foreground: 34, 34, 34;

    --popover: 255, 255, 255;
    --popover-foreground: 34, 34, 34;

    --muted: 247, 249, 250;
    --muted-foreground: 135, 138, 140;

    --destructive: 182, 21, 21;
    --destructive-foreground: 255, 255, 255;

    --ring: var(--secondary);
  }

  .dark {
    --text: 215, 218, 220;
    --text-50: 13, 13, 13;
    --text-100: 26, 26, 26;
    --text-200: 51, 51, 51;
    --text-300: 77, 77, 77;
    --text-400: 102, 102, 102;
    --text-500: 128, 128, 128;
    --text-600: 153, 153, 153;
    --text-700: 179, 179, 179;
    --text-800: 204, 204, 204;
    --text-900: 230, 230, 230;
    --text-950: 242, 242, 242;

    --background: 3, 3, 3;
    --background-50: 13, 13, 13;
    --background-100: 26, 26, 26;
    --background-200: 51, 51, 51;
    --background-300: 77, 77, 77;
    --background-400: 102, 102, 102;
    --background-500: 128, 128, 128;
    --background-600: 153, 153, 153;
    --background-700: 179, 179, 179;
    --background-800: 204, 204, 204;
    --background-900: 230, 230, 230;
    --background-950: 242, 242, 242;

    --primary: 255, 84, 20;
    --primary-50: 255, 236, 229;
    --primary-100: 255, 218, 204;
    --primary-200: 255, 180, 153;
    --primary-300: 255, 143, 102;
    --primary-400: 255, 105, 51;
    --primary-500: 255, 68, 0;
    --primary-600: 204, 54, 0;
    --primary-700: 153, 41, 0;
    --primary-800: 102, 27, 0;
    --primary-900: 51, 14, 0;
    --primary-950: 26, 7, 0;

    --secondary: 0, 121, 211;
    --secondary-50: 229, 244, 255;
    --secondary-100: 204, 233, 255;
    --secondary-200: 153, 211, 255;
    --secondary-300: 102, 189, 255;
    --secondary-400: 51, 167, 255;
    --secondary-500: 0, 145, 255;
    --secondary-600: 0, 116, 204;
    --secondary-700: 0, 87, 153;
    --secondary-800: 0, 58, 102;
    --secondary-900: 0, 29, 51;
    --secondary-950: 0, 14, 26;

    --accent: 0, 179, 219;
    --accent-50: 0, 21, 26;
    --accent-100: 0, 42, 51;
    --accent-200: 0, 83, 102;
    --accent-300: 0, 125, 153;
    --accent-400: 0, 167, 204;
    --accent-500: 0, 208, 255;
    --accent-600: 51, 218, 255;
    --accent-700: 102, 227, 255;
    --accent-800: 153, 236, 255;
    --accent-900: 204, 246, 255;
    --accent-950: 229, 250, 255;

    --border: 52, 53, 54;
    --input: 52, 53, 54;

    --card: 26, 26, 27;
    --card-foreground: 129, 131, 132;

    --popover: 26, 26, 27;
    --popover-foreground: 129, 131, 132;

    --muted: 21, 21, 22;
    --muted-foreground: 90, 92, 94;

    --destructive: 182, 21, 21;
    --destructive-foreground: 255, 255, 255;

    --ring: var(--secondary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}